<%- include("_header")-%>
<h1>LIDA MOISE JOEL</h1>
<h3>À la recherche d'un poste de développeur web, c'est avec un grand 
    intérêt que j'ai pris connaissance de votre offre d’emploi intitulée 
    « Développeur informatique ». En effet, je pense correspondre au profil 
    que vous recherchez ce qui me permets de vous envoyer ma candidature.
</h3>
<%- include("_footer")-%>